<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<http access-denied-page="/login.jsp?authorization_error=true"
		xmlns="http://www.springframework.org/schema/security">
		<intercept-url pattern="/sparklr/**" access="ROLE_USER" />
		
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<form-login authentication-failure-url="/login.jsp?authentication_error=true"
			default-target-url="/index.jsp" login-page="/login.jsp"
			login-processing-url="/login.do" />
		<logout logout-success-url="/index.jsp" logout-url="/logout.do" />
		<anonymous />
		<custom-filter ref="oauth2ClientFilter" after="EXCEPTION_TRANSLATION_FILTER" />
	</http>

	<authentication-manager
		xmlns="http://www.springframework.org/schema/security">
		<authentication-provider>
			<user-service>
				<user name="marissa" password="wombat" authorities="ROLE_USER" />
				<user name="sam" password="kangaroo" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<!--apply the oauth client context -->
	<oauth:client id="oauth2ClientFilter" />

	<!--define an oauth 2 resource for runkeeper -->
	<oauth:resource id="runkeeper" type="authorization_code"
		client-id="tonr" client-secret="secret" access-token-uri="${accessTokenUri}"
		user-authorization-uri="${userAuthorizationUri}" scope="read,write" />

	<!--define an oauth 2 resource for client with registered redirect on runkeeper -->
	<oauth:resource id="runkeeperRedirect" type="authorization_code"
		client-id="tonr-with-redirect" access-token-uri="${accessTokenUri}"
		user-authorization-uri="${userAuthorizationUri}" scope="read,write"
		client-secret="secret" use-current-uri="false" />

	<!--define an oauth 2 resource for trusted client on runkeeper -->
	<oauth:resource id="trusted" type="client_credentials"
		client-id="my-client-with-registered-redirect" access-token-uri="${accessTokenUri}"
		scope="trust" />

	
	<context:property-placeholder location="classpath:/runkeeper.properties" />

	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean
					class="no.uit.zhangway.AccessTokenRequestConverter" />
			</set>
		</property>
	</bean>

	<mvc:default-servlet-handler />

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.BufferedImageHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="contentViewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<bean
				class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
		</property>
	</bean>

	<!--Basic application beans. -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="runkeeperController"
		class="no.uit.zhangway.RunkeeperController">
		<property name="runkeeperService" ref="runkeeperService" />
	</bean>

	<bean id="runkeeperRedirectController"
		class="no.uit.zhangway.RunkeeperRedirectController">
		<property name="runkeeperService" ref="runkeeperRedirectService" />
	</bean>

	

	<bean id="runkeeperService"
		class="no.uit.zhangway.RunkeeperServiceImpl">
		<property name="sparklrPhotoListURL" value="${sparklrPhotoListURL}" />
		<property name="sparklrTrustedMessageURL" value="${sparklrTrustedMessageURL}" />
		<property name="sparklrPhotoURLPattern" value="${sparklrPhotoURLPattern}" />
		<property name="sparklrRestTemplate">
			<oauth:rest-template resource="runkeeper" />
		</property>
		<property name="trustedClientRestTemplate">
			<oauth:rest-template resource="trusted" />
		</property>
	</bean>

	<bean id="runkeeperRedirectService"
		class="no.uit.zhangway.RunkeeperServiceImpl">
		<property name="sparklrPhotoListURL" value="${sparklrPhotoListURL}" />
		<property name="sparklrPhotoURLPattern" value="${sparklrPhotoURLPattern}" />
		<property name="sparklrRestTemplate">
			<oauth:rest-template resource="runkeeperRedirect" />
		</property>
	</bean>

</beans>
